dist/
.astro/

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env

.DS_Store

.env.local
procode-design/
tina/__generated__/
tina/.tina-lock

test-results/
playwright-report/